/*http://css-happylife.com/archives/2007/0212_0008.php より*/
/*初期設定*/
@charset "utf-8";
/*
 Share Style [
----------------------------------------------------------- */
* {
	margin:0;
	padding:0;
}
body {
	background:#FFF url(../img/bg.gif) no-repeat left top;
	font-family:Verdana, "ＭＳ Ｐゴシック", sans-serif;
	font-size:80%;
}
html {
	overflow-y:scroll;
}
h1,h2,h3,h4,h5,h6 {
}
p,li,dt,dl {
	line-height:1.6;
}
p {
	margin:0 0 1em 0;
}
li {
	list-style-type:none;
}
img {
	border:0;
}
address {
	font-style:normal;
}
.clear {
	clear:both;
}
/*
 Link Color [
----------------------------------------------------------- */
a:link {
	color:#078D00;
	text-decoration:none;
}
a:visited {
	color:#189B12;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:active {
	color:#666;
}
.red {
	color: red;
}
.h2 {
	font-weight: bold;
	font-size: 20px;
	color: #CC3300;
	margin: 20px 0 0 10px;  
}
/*ここからheader*/
.header {
	width: 100%;
	height: 75px;
}

header .English{
	float: left;
	font-size: 12px;
	border: 1px solid black;
	padding: 5px;
	margin: 30px 20px 30px 20px;
}
header img {
	width: 100px;
	height: auto;
}
.nogami {
	display: block;
	width: 60%;
	height: 60px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
header p {
	position: relative;
	float: right;
	bottom: 60px;
}
.fa-instagram , fa-bars {
	float: right;
	font-size: 40px;
}


/*ここから内容*/
.title {
	color: #fff;
	background-image: url("image/tree.jpg");
	background-size: cover;
	height: 80px;
	text-align: center;
	font-size: 30px;
	padding-top: 58px;
}
.top {
	float: left;
	font-size: 15px;
	background-color: #eee;
	margin-top: 13px;
}
.contents1 {
	width: 100%;
	height: 900px;
	font-size: 16px;
}
.contents1 img{
	width: 50%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.contents1 h3 {
	font-weight: normal;
}
.contents1 p {
	font-size: 13px;
	font-weight: bold;
}
.gray {
	width: 100%;
	height: 200px;
}
.size {
	float: right;
}
.size > dt{
	background-color: #EEEDEB;
	font-weight: bold;
}
.list {
	width: 100%;
	height: 200px;
}
.list li {
	width: 50%;
	display: inline-block;
}
/*ここからfoooter*/
.footer {
	background-color: black;
	color: #fff;
	width: 100%;
	height: 60px;
	position: fixed;
}
